<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load templateFilter %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'storage/stylesheets/styles.css' %}">
    <link rel="stylesheet" href="{% static 'storage/stylesheets/storage.css' %}">
    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'storage/javascript/storage.js' %}"></script>
    <title>Storage</title>
</head>

<body class="h-100 position-relative">
    <div class="container-fluid px-5">
        <nav class="navbar navbar-expand-md navbar-light navbar-transparent  d-flex justify-content-center" style="border-bottom: 1px solid black;">
            <div class="container-fluid">
                <a class="navbar-brand ms-5 ps-5" href="{% url 'storage:index'%}">
                <img src="{% static 'storage/images/logo.png' %}" alt="Logo" height="60" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse me-5 pe-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-3 mb-lg-0 ps-5">
                        <li class="nav-item">
                            <a class="nav-link active px-5 navbar-link" aria-current="page" href="{% url 'storage:storage' %}" style="border-right: solid black 1px;"  onmouseover="this.style.color='#787575'" onmouseout="this.style.color='#000'">STORAGE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-5 navbar-link" href="{% url 'storage:stats'%}"  onmouseover="this.style.color='#787575'" onmouseout="this.style.color='#000'">STATS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-5 navbar-link" href="{% url 'storage:config'%}" style="border-left: solid black 1px;" onmouseover="this.style.color='#787575'" onmouseout="this.style.color='#000'">CONFIG</a>
                        </li>
                    </ul>

                    <input class="form-control d-inline-flex me-2" id="search-input" type="text" placeholder="Search" aria-label="Search" onkeyup="showOnlySearchHits(this)">

                    <button class="btn ms-5" data-bs-toggle="modal" data-bs-target="#destoreModalList" type="submit"><img src="{% static 'storage/images/icons/box-arrow-down.svg' %}"></button>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-5 d-flex justify-content-center">

        <div class="container row d-flex justify-content-center">
        {% for item, stored_item_total_quantity in total_stored_quantity_per_item %}
            <div class="container col-12 col-md-6 col-xl-4 col-xxl-3 my-5 d-flex justify-content-center">

                <!-- Card of stored item -->
                <div class="card stored-item-card" id="card-item-{{ item.item_id }}">
                    <img src="{{ item.item_image.url }}" class="card-img-top item-card-image" id="card-image" alt="{{ item.item_name }}">

                    <div class="card-body text-left ms-2">
                        <h4 class="card-title" href="">{{ item.item_name }}</h4>
                        <p>Quantity: {{ stored_item_total_quantity }}</p>
                        <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#stored-item-modal-{{ item.item_id }}"></a>
                    </div>
                </div> 
            </div>
        {% endfor %}
        </div>
    </div>

    {% if storage_exists%}
    <!-- Fixed Button to add new items -->
    <div class="position-relative">
        <a href="#" class="btn rounded-circle position-fixed bottom-0 end-0 mb-3 me-5" id="storeItemButton" data-bs-toggle="modal" data-bs-target="#add-new-item-modal">
            <img src="{% static 'storage/images/icons/plus-square.svg' %}" alt="plus icon">
        </a>
    </div>
    {% else %}
    <div class="container text-center">
        <h1 class="text-dark">You need to add a storage under config first!</h1>
    </div>
    {% endif %}

    {% for item, stored_item_total_quantity in total_stored_quantity_per_item %}
        <!-- Modal stored item {{ item.item_name }}-->
        <div class="modal fade" id="stored-item-modal-{{ item.item_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <img src="{{ item.item_image.url }}" class="stored-item-modal-image" id="imgStoredItemModal-{{ item.item_id }}" alt="{{ item.item_name }}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">{{ item.item_name }}</h1>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="item-stored-quantity-{{ item.item_id }}" class="col-form-label">Amount Stored:</label>
                        <input type="text" class="form-control" id="item-stored-quantity-{{ item.item_id }}" value="{{ stored_item_total_quantity }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="item-node-text-{{ item.item_id }}" class="col-form-label">Node:</label>
                        <textarea class="form-control" id="item-node-text-{{ item.item_id }}" readonly>{% if item.item_node == "" %}-{% else %}{{ item.item_node }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="item-datasheet-link-{{ item.item_id }}" class="col-form-label">Datasheet:</label>
                        <a href="{{ item.item_datasheet }}" target="_blank" class="form-control" id="item-datasheet-link-{{ item.item_id }}" style="text-decoration: none;">
                            {% if item.item_datasheet == "" %}
                                -
                            {% else %}
                                {{ item.item_datasheet }}
                            {% endif %}
                        </a>
                    </div>
                    <div class="mb-3">
                        <label for="item-purchase-place-link-{{ item.item_id }}" class="col-form-label">Bought here:</label>
                        <a href="{{ item.item_purchase_place }}" target="_blank" class="form-control" id="item-purchase-place-link-{{ item.item_id }}" style="text-decoration: none;">
                            {% if item.item_purchase_place == "" %}
                                -
                            {% else %}
                                {{ item.item_purchase_place }}
                            {% endif %}
                        </a>
                    </div>

                    <form id="destore-item-form-{{ item.item_id }}" action="{% url 'storage:destore_item' stored_item_fk=item.item_id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="item-destore-quantity-{{ item.item_id }}" class="col-form-label">Remove from stock:</label>
                            {% if item_with_destore_error.item_id == item.item_id %}
                                {{ destore_item_form_error.item_destore_quantity }}
                            {% else %}
                                <!-- TODO: id of this field is not unique -->
                                {{ destore_item_form.item_destore_quantity }}
                            {% endif %}
                            {% if item_with_destore_error.item_id == item.item_id %}
                            <div class="invalid-feedback">
                                {% for error in destore_item_form_error.item_destore_quantity.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </form>

                    <div class="container d-flex justify-content-end">
                        <button type="button" class="btn btn-success d-flex align-items-center" data-bs-dismiss="modal">
                            <img class="me-2" src="{% static 'storage/images/icons/inboxes.svg'%}" style="height: 20px;">
                            Show all Bins
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary d-flex align-items-center" data-bs-dismiss="modal">
                    <img class="me-2" src="{% static 'storage/images/icons/x-lg.svg'%}" style="height: 20px;">
                    Cancel
                </button>
                <button type="button" class="btn btn-warning d-flex align-items-center" onclick="addItemToDestoreList({{ item.item_id }})" data-bs-dismiss="modal">
                    <img class="me-2" src="{% static 'storage/images/icons/plus-square.svg'%}" style="height: 20px;">
                    Add to Destore List
                </button>
                <button type="button" class="btn btn-danger d-flex align-items-center" onclick="document.getElementById('destore-item-form-{{ item.item_id }}').submit();">
                    <img class="me-2" src="{% static 'storage/images/icons/box-arrow-down.svg'%}" style="height: 20px;">
                    Destore
                </button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

    <!-- Modal destore list -->
    <div class="modal fade" id="destoreModalList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Items staged for destoring.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="scrollspy-example bg-body-tertiary p-3 rounded-2 mb-3"  style="max-height: 500px; overflow-y: auto;">
                    <p id="destore-list-empty-text">No item staged for destoring yet :(</p>
                    <ul class="list-group" id="destore-list">
                        <!-- The destore list is generated here -->
                    </ul>
                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary d-flex align-items-center" data-bs-dismiss="modal">
                <img class="me-2" src="{% static 'storage/images/icons/x-lg.svg'%}">
                Cancel
            </button>
            <button type="button" class="btn btn-warning d-flex align-items-center d-none" id="destore-list-delete-item-button" onclick="deleteItemDestoringList()">
                <img class="me-2" src="{% static 'storage/images/icons/trash.svg'%}">
                Delete selected Items
            </button>
            <button type="button" class="btn btn-danger d-flex align-items-center d-none" id="destore-list-destore-button" data-bs-target="#destoreItem" data-bs-toggle="modal">
                <img class="me-2" src="{% static 'storage/images/icons/box-arrow-down.svg'%}" style="height: 20px;">
                Destore
            </button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal to add new items to db -->
    <div class="modal fade" id="add-new-item-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-new-item-modal-heading">Search for the item you want to store.</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Search for a existing item</label>
                    <input type="text" class="form-control" id="master-data-search-field" onkeyup="searchMasterData()">
                </div>
                
                <div class="scrollspy-example bg-body-tertiary p-3 rounded-2 mb-3"  style="max-height: 200px; overflow-y: auto;">
                    <ul class="list-group" id="master-data-list">
                        {% for item in items_list %}
                        <li class="list-group-item d-flex align-items-center" id="master-data-search-list-item-{{ item.item_id }}">
                            {{ item.item_name }}
                            <img src="{{ item.item_image.url }}" class="ms-2 master-data-search-image" id="master-data-search-image-{{ item.item_id }}" alt="item.item_name">
                            <input class="form-check-input ms-auto" id="master-data-search-checkbox-{{ item.item_id }}" type="checkbox" name="master-data-list-checkbox" value="{{ item.item_id }}" onchange="onlyOneSelectable(this)">
                        </li>
                        {% endfor %}
                    </ul>                    
                </div>
                
                <form id="add-new-item-form" action="{% url 'storage:storage' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="item-name" class="col-form-label">Name</label>
                        {{ store_item_form.item_name }}
                        {% if store_item_form.item_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in store_item_form.item_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3">
                        <label for="item-image" class="form-label" id="item-image-label">Picture</label>
                        {{ store_item_form.item_image }}
                        {% if store_item_form.item_image.errors %}
                        <div class="invalid-feedback">
                            {% for error in store_item_form.item_image.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="item-quantity" class="col-form-label">Quantity:</label>
                        {{ store_item_form.item_quantity }}
                        {% if store_item_form.item_quantity.errors %}
                        <div class="invalid-feedback">
                            {% for error in store_item_form.item_quantity.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="item-volume" class="col-form-label">Volume:</label>
                        {{ store_item_form.item_volume }}
                        {% if store_item_form.item_volume.errors %}
                        <div class="invalid-feedback">
                            {% for error in store_item_form.item_volume.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label for="item-node" class="col-form-label">Node:</label>
                        {{ store_item_form.item_node }}
                    </div>
                    <div class="mb-3">
                        <label for="item-datasheet" class="col-form-label">Datasheet</label>
                        {{ store_item_form.item_datasheet }}
                    </div>

                    <div class="mb-3">
                        <label for="item-purchase-place" class="col-form-label">Purchase place</label>
                        {{ store_item_form.item_purchase_place }}
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary d-flex align-items-center" data-bs-dismiss="modal">
                    <img class="me-2" src="{% static 'storage/images/icons/x-lg.svg'%}">
                    Cancel
                </button>
                <button type="button" class="btn btn-warning d-flex align-items-center" data-bs-target="#storageProcess" data-bs-toggle="modal">
                    <img class="me-2" src="{% static 'storage/images/icons/plus-square.svg'%}" style="max-height: 20px;">
                    Add to list
                </button>
                <button type="button" class="btn btn-danger d-flex align-items-center" onclick="document.getElementById('add-new-item-form').submit();">
                    <img class="me-2" src="{% static 'storage/images/icons/box-seam-fill.svg'%}">
                    Store Item
                </button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal for the storage process -->
    <div class="modal fade" id="storage-process-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="storage-process-modal-heading">Please store your item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <strong>{{ new_stored_item.0 }}<br>Quantity: {{ new_stored_item.1 }}<br><br></strong>
                    Please store your item into the lith up storage bin.<br>
                    You can split your item if there is not enough space for it.<br>
                </div>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Split items into two bins
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <form>
                              <div class="mb-3">
                                  <label for="recipient-name" class="col-form-label">Quantity that is stored into the first bin:</label>
                                  <input type="number" class="form-control" id="recipient-name">
                              </div>
                            </form>
                            <button type="button" class="btn btn-danger d-flex align-items-center">
                                <img class="me-2" src="{% static 'storage/images/icons/box-arrow-in-down.svg'%}" style="height: 20px;"> 
                                First quantitiy is stored
                            </button>
                          </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Manually select a bin
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card text-center">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                        {% for storage, storage_layout in all_storage_layouts %}
                                        <li class="nav-item" role="presentation">
                                            {% if forloop.counter == 1 %}
                                            <button class="nav-link d-flex align-items-center active" id="{{ storage.storage_id }}-tab-heading-storage-process" data-bs-toggle="tab" data-bs-target="#{{ storage.storage_id }}-tab-storage-process" type="button" role="tab" aria-controls="profile" aria-selected="true">
                                                {{ storage.storage_name }}
                                            </button>
                                            {% else %}
                                            <button class="nav-link d-flex align-items-center" id="{{ storage.storage_id }}-tab-heading-storage-process" data-bs-toggle="tab" data-bs-target="#{{ storage.storage_id }}-tab-storage-process" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                                {{ storage.storage_name }}
                                            </button>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                <div class="card-body tab-content">
                                    {% for storage, storage_layout in all_storage_layouts %}
                                     <!-- {{ storage.storage_name }} tab -->
                                        {% if forloop.counter == 1 %}
                                            <div class="tab-pane fade show active" id="{{ storage.storage_id }}-tab-storage-process" role="tabpanel" aria-labelledby="{{ storage.storage_id }}-tab">
                                        {% else %}
                                            <div class="tab-pane fade" id="{{ storage.storage_id }}-tab-storage-process" role="tabpanel" aria-labelledby="{{ storage.storage_id }}-tab">
                                        {% endif %}
                                        <p>Select a bin from {{ storage.storage_name }} in which you want to store your item.</p>
                                        <div class="container">
                                            {% for row_number, all_bins_in_row in storage_layout.items %} 
                                                <!-- Row {{ row_number }} -->
                                                <div class="row mb-2 align-items-center">
                                                    <span class="col-auto" style="min-width: 80px">Row {{ row_number|add:1}}</span>
                                                    
                                                    <div class="col d-flex justify-content-between mx-4">
                                                        {% for bin in all_bins_in_row %}
                                                            <input type="radio" class="btn-check" name="btnradio-{{ storage.storage_id }}-storage-process" id="btnradio-{{ storage.storage_id }}-{{ row_number }}-{{ bin.bin_col }}-storage-process" autocomplete="off" onclick="get_all_items_of_bin('{{ bin.bin_id }}')">
                                                            <label class="btn btn-outline-primary w-100 me-1" for="btnradio-{{ storage.storage_id }}-{{ row_number }}-{{ bin.bin_col }}-storage-process">
                                                                {{ bin.bin_number }}
                                                            </label>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="btn btn-danger d-flex align-items-center ms-auto mt-4" data-bs-target="#storageProcess" data-bs-toggle="modal">
                                            <img class="me-2" src="{% static 'storage/images/icons/box-arrow-in-down.svg'%}" style="height: 20px;">
                                            Stored item manually
                                        </button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary d-flex align-items-center" data-bs-dismiss="modal">
                <img class="me-2" src="{% static 'storage/images/icons/x-lg.svg'%}">
                Cancel
            </button>
            <button type="button" class="btn btn-success d-flex align-items-center">
                <img class="me-2" src="{% static 'storage/images/icons/check2-all.svg'%}">
                Item is stored
            </button>
            </div>
        </div>
        </div>
    </div>

    {% for destored_item in destore_places_and_quantitys %}
        <!-- Modal destore item -->
        <div class="modal fade modal-lg" id="destore-item-modal-{{ destored_item.destore_bin_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="destore-item-modal-heading">Remove the item from the highlighted bin.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container row">
                        <div class="container col-4 d-flex flex-column justify-content-center">
                            <p><span style="margin-right: 8px;"><strong>Item:</strong></span>{{ destored_item.destored_item_name }}</p>
                            <p><span style="margin-right: 8px;"><strong>Destore Quantity:</strong></span>{{ destored_item.destored_quantity }}</p>
                            <img src="{{ destored_item.destored_item_image }}" class="img-fluid" alt="{{ destored_item.destored_item_name }}">
                        </div>

                        <div class="container col-8 d-flex align-items-center justify-content-center">
                            <div class="container">
                                <h5 class="my-3">Item stored in {{ destored_item.destored_storage_name }} Bin {{ destored_item.destored_bin_number }}</h5>
                                {% for row_number, all_bins_in_row in destored_item.destored_storage_layout.items %} 
                                <!-- Row {{ row_number }} -->
                                <div class="row mb-2 align-items-center">
                                    <span class="col-auto" style="min-width: 80px">Row {{ row_number|add:1}}</span>
                                    
                                    <div class="col d-flex justify-content-between mx-4">
                                        {% for bin in all_bins_in_row %}
                                            {% if bin.bin_number == destored_item.destored_bin_number %}
                                                <input type="radio" class="btn-check" name="btnradio-{{ destored_item.destore_bin_id }}" id="btnradio-{{ bin.storage_id.storage_id}}-{{ row_number }}-{{ bin.bin_col }}" autocomplete="off" disabled checked>
                                                <label class="btn btn-outline-success w-100 me-1" for="btnradio-{{ bin.storage_id.storage_id }}-{{ row_number }}-{{ bin.bin_col }}" style="opacity: 1;">
                                                    {{ bin.bin_number }}
                                                </label>
                                            {% else %}
                                                <input type="radio" class="btn-check" name="btnradio-{{ destored_item.destore_bin_id }}" id="btnradio-{{ bin.storage_id.storage_id }}-{{ row_number }}-{{ bin.bin_col }}" autocomplete="off" disabled>
                                                <label class="btn btn-outline-primary w-100 me-1" for="btnradio-{{ bin.storage_id.storage_id }}-{{ row_number }}-{{ bin.bin_col }}" style="opacity: 1;">
                                                    {{ bin.bin_number }}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><img class="me-2" src="{% static 'storage/images/icons/x-lg.svg'%}">Cancel</button>
                    <!-- If the destored item is in more than one bin link to the next modal -->
                    {% if not forloop.last %}
                        <!-- Get the next destore item to set the data-bs-target -->
                        {% with next_destore_item=destore_places_and_quantitys|next:forloop.counter0 %}
                            <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#destore-item-modal-{{ next_destore_item.destore_bin_id }}">
                                <img class="me-2" src="{% static 'storage/images/icons/check2-all.svg'%}">Item is destored
                            </button>
                        {% endwith %}
                    <!-- This destore_item was the last one so set the button to close the modal after destoring the item-->
                    {% else %}
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
                            <img class="me-2" src="{% static 'storage/images/icons/check2-all.svg'%}">
                            Item is destored
                        </button>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // The page state is a state machine which definces in which state the storage page is currently in
            const storage_page_state = "{{ storage_page_state }}";
            // Set the currect state of the storage page and open the correct modals after rendering
            switch (storage_page_state) {
                case "ADD_ITEM_FORM_ERROR":
                    const add_item_modal = new bootstrap.Modal(document.getElementById('add-new-item-modal'));
                    add_item_modal.show(); // Open add item modal to show the validation errors
                    break;

                case "ADD_EXISTING_ITEM_FORM_ERROR":
                    console.log("{{ add_existing_item_error }}");
                    const add_existing_item_modal = new bootstrap.Modal(document.getElementById('add-new-item-modal'));
                    const master_data_item = document.getElementById("master-data-search-checkbox-{{ add_existing_item_error }}");
                    master_data_item.checked = true;
                    onlyOneSelectable(master_data_item);
                    add_existing_item_modal.show(); // Open add item modal to show the validation errors
                    break;


                case "STORE_ITEM_PROCESS":
                    const store_item_in_bin_modal = new bootstrap.Modal(document.getElementById('storage-process-modal'));
                    store_item_in_bin_modal.show();
                    break;

                case "DESTORE_ITEM_FORM_ERROR":
                    const stored_item_modal = new bootstrap.Modal(document.getElementById('stored-item-modal-{{ item_with_destore_error.item_id }}'));
                    stored_item_modal.show();
                    break;

                case "DESTORE_ITEM_PROCESS":
                    // Sets the id of the first modal thats needs to be shown
                    const destore_item_modal = new bootstrap.Modal(document.getElementById('destore-item-modal-{{ destore_places_and_quantitys.0.destore_bin_id }}'));
                    destore_item_modal.show();
                    break;
            }
        });
    </script>    
</body>
</html>