#card-image {
    border-bottom: solid 3px #d3ac7b;
    max-height: 250px;
    border-top-left-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
}

#imgStoredItemModal {
    height: 200px;
    border-radius: 0.9rem;
}