/* Background of the body */
body{
    background-color: #d3ac7b;
}

.nav-link.active.px-5.navbar-link {
    color: black; 
    font-size: 18px;
}

#current-user-name {
    border-bottom: solid gray 1px;
}