{% extends 'storage/main.html' %}
{% block title %}Registration{% endblock %}
{% block body_content %}    
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 text-center d-flex justify-content-center">

        <div class="card" style="width: 25rem; border-radius: 1rem;">
          <div class="card-body">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 text-center">
                    <div class="mb-md-2 mt-md-4">
                        <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                        <p class="text-white-50 mb-5">Please enter your data to create a new user account!</p>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in user_registration_form %}
                                <div class="mb-3">
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger">
                                            {% for error in field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <p class="text-white-50">All * field need to be filled.</p>
                            <button class="btn btn-outline-light btn-lg px-5 mt-5" type="submit">Register</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}